APP_ENV=prod
APP_DEBUG=0
APP_SECRET=generez_un_secret_aleatoire_long

DEFAULT_URI=https://maisionumu.sowcoder.com

DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/NOM_BDD?serverVersion=8.0&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

### Email pro Hostinger (toute la boutique)
MAILER_DSN="smtp://contact%40maisionumu.sowcoder.com:MOT_DE_PASSE_EMAIL@smtp.hostinger.com:587"
MAILER_FROM_EMAIL=contact@maisionumu.sowcoder.com
MAILER_FROM_NAME="Maison UMU"

MOBILE_MONEY_PHONE="+221 77 450 78 08"
WAVE_PAY_LINK=

STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

GOOGLE_CLIENT_ID=votre_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=votre_client_secret

### Admin principal (seul habilité à nommer d’autres admins)
PRIMARY_ADMIN_EMAIL=zallajulienne@gmail.com,mohamedrassoulsow1998@gmail.com
