
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.hostinger
# Keep the template:
# .env.hostinger.example is committed
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Uploaded media (keep folder structure)
/public/uploads/hero/*
!/public/uploads/hero/.gitkeep
/public/stripe-details-*


###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
