<div class="umu-modal" id="umuProductModal" data-umu-product-modal hidden>
    <div class="umu-modal__backdrop" data-umu-product-modal-close tabindex="-1"></div>
    <div class="umu-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="umuProductModalTitle">
        <button type="button" class="umu-modal__close" data-umu-product-modal-close aria-label="Fermer">✕</button>
        <div class="umu-modal__body" data-umu-product-modal-body></div>
    </div>
</div>
